@media screen and (max-width: 1118px) {
  .lowfi-beats-to-beat-your-head-with {
    width: 15%;
    height: 24%;
    position: absolute;
    margin-left: 75%;
    margin-top: 8.75%;
    z-index: 1;
    overflow: hidden;
  }
}

@media screen and (max-width: 1066px) {
  .lowfi-beats-to-beat-your-head-with {
    width: 15%;
    height: 23%;
    position: absolute;
    margin-left: 75%;
    margin-top: 8.75%;
    z-index: 1;
    overflow: hidden;
  }
}

@media screen and (max-width: 977px) {
  .lowfi-beats-to-beat-your-head-with {
    width: 15%;
    height: 21%;
    position: absolute;
    margin-left: 75%;
    margin-top: 8.75%;
    z-index: 1;
    overflow: hidden;
  }
}

@media screen and (max-width: 890px) {
  .lowfi-beats-to-beat-your-head-with {
    width: 15%;
    height: 19%;
    position: absolute;
    margin-left: 75%;
    margin-top: 8.75%;
    z-index: 1;
    overflow: hidden;
  }
}

@media screen and (max-width: 813px) {
  .lowfi-beats-to-beat-your-head-with {
    width: 15%;
    height: 18%;
    position: absolute;
    margin-left: 75%;
    margin-top: 8.75%;
    z-index: 1;
    overflow: hidden;
  }
}

@media screen and (max-width: 860px) {
  .lowfi-beats-to-beat-your-head-with {
    width: 15%;
    height: 19%;
    position: absolute;
    margin-left: 75%;
    margin-top: 8.75%;
    z-index: 1;
    overflow: hidden;
  }

  .carpet {
    height: 57%;
    background: #add8e6;
    width: 100%;
    position: absolute;
    z-index: -1;
    margin-top: 37%;
  }
}

@media screen and (max-width: 807px) {
  .lowfi-beats-to-beat-your-head-with {
    width: 15%;
    height: 17%;
    position: absolute;
    margin-left: 75%;
    margin-top: 8.75%;
    z-index: 1;
    overflow: hidden;
  }
}

@media screen and (max-width: 721px) {
  .lowfi-beats-to-beat-your-head-with {
    width: 15%;
    height: 16%;
    position: absolute;
    margin-left: 75%;
    margin-top: 8.75%;
    z-index: 1;
    overflow: hidden;
  }
}

@media screen and (max-width: 681px) {
  .lowfi-beats-to-beat-your-head-with {
    width: 15%;
    height: 14.5%;
    position: absolute;
    margin-left: 75%;
    margin-top: 8.75%;
    z-index: 1;
    overflow: hidden;
  }
}

@media screen and (max-width: 617px) {
  .lowfi-beats-to-beat-your-head-with {
    width: 15%;
    height: 13.5%;
    position: absolute;
    margin-left: 75%;
    margin-top: 8.75%;
    z-index: 1;
    overflow: hidden;
  }
}

@media screen and (max-width: 560px) {
  .lowfi-beats-to-beat-your-head-with {
    width: 15%;
    height: 12.5%;
    position: absolute;
    margin-left: 75%;
    margin-top: 8.75%;
    z-index: 1;
    overflow: hidden;
  }
}
@media screen and (max-width: 527px) {
  .lowfi-beats-to-beat-your-head-with {
    width: 15%;
    height: 11.5%;
    position: absolute;
    margin-left: 75%;
    margin-top: 8.75%;
    z-index: 1;
    overflow: hidden;
  }
}
@media screen and (max-width: 477px) {
  .lowfi-beats-to-beat-your-head-with {
    width: 15%;
    height: 10.5%;
    position: absolute;
    margin-left: 75%;
    margin-top: 8.75%;
    z-index: 1;
    overflow: hidden;
  }
}
