.tv-trigger {
  background-color: pink;
  opacity: 0;
  height: 20%;
  width: 22%;
  position: absolute;
  z-index: 2;
  margin-left: 40.5%;
  margin-top: 17%;
}
.game-trigger {
  background-color: pink;
  opacity: 0;
  height: 15%;
  width: 25%;
  position: absolute;
  z-index: 2;
  margin-left: 40%;
  margin-top: 31.5%;
}
.book-trigger {
  background-color: pink;
  opacity: 0;
  height: 60%;
  width: 20%;
  position: absolute;
  z-index: 2;
  margin-left: 8.5%;
  margin-top: 8%;
}
.dvd-trigger {
  background-color: pink;
  opacity: 0;
  height: 16%;
  width: 12%;
  position: absolute;
  z-index: 2;
  margin-left: 26%;
  margin-top: 40%;
}
