body {
  background: none;
  height: 45svh;
}

/* body:after {
  content: "";
  background: #de5164;
  position: absolute;
  top: 0;
  bottom: 25%;
  right: 0;
  left: 0;
  content: " ";
  z-index: -2;
} */

.carpet {
  background: #add8e6;
  width: 100%;
  height: 45%;
  position: absolute;
  z-index: -1;
  margin-top: 37%;
}
.background-wall {
  content: "";
  background: #de5164;
  position: absolute;
  top: 0;
  bottom: 25%;
  right: 0;
  left: 0;
  content: " ";
  z-index: -2;
}

.wall-lining {
  height: 3%;
  width: 100%;
  position: absolute;
  background-color: #ffffff;
  z-index: -1;
  margin-top: 36%;
}

.tv {
  z-index: 1;
  position: absolute;
  margin-left: 34%;
  margin-top: 8.25%;
  width: 34.5%;
}
.dresser {
  z-index: -1;
  position: absolute;
  margin-left: 35.5%;
  margin-top: 18%;
  width: 34.5%;
}

.bookshelf {
  z-index: -1;
  position: absolute;
  margin-left: 0%;
  margin-top: 7%;
  width: 50%;
}

.rug {
  z-index: 0;
  position: absolute;
  margin-left: 55%;
  margin-top: 27%;
  width: 34.5%;
}

.lowfi-beats-to-beat-your-head-with {
  width: 15%;
  height: 32%;
  position: absolute;
  margin-left: 75%;
  margin-top: 8.75%;
  border: #ffffff;
  z-index: 1;
}
.window {
  margin-left: 65%;
  position: absolute;
  z-index: 1;
  width: 35%;
}
.gamepad {
  position: absolute;
  z-index: 1;
  margin-left: 42.5%;
  margin-top: 28.5%;
  width: 20%;
}

.dvd {
  position: absolute;
  z-index: 1;
  margin-left: 22%;
  margin-top: 34%;
  width: 20%;
  transform: rotate(325deg);
}
.tv-trigger {
  background-color: pink;
  opacity: 0;
  height: 20%;
  width: 22%;
  position: absolute;
  z-index: 2;
  margin-left: 40.5%;
  margin-top: 17%;
}
.game-trigger {
  background-color: pink;
  opacity: 0;
  height: 15%;
  width: 25%;
  position: absolute;
  z-index: 2;
  margin-left: 40%;
  margin-top: 31.5%;
}
.book-trigger {
  background-color: pink;
  opacity: 0;
  height: 60%;
  width: 20%;
  position: absolute;
  z-index: 2;
  margin-left: 8.5%;
  margin-top: 8%;
}
.dvd-trigger {
  background-color: pink;
  opacity: 0;
  height: 16%;
  width: 12%;
  position: absolute;
  z-index: 2;
  margin-left: 26%;
  margin-top: 40%;
}
