body {
  background: lightblue;
}
body:after {
  content: "";
  background: #de5164;
  position: absolute;
  top: 0;
  bottom: 25%;
  right: 0;
  left: 0;
  content: " ";
  z-index: -2;
}

.wall-lining {
  height: 3%;
  width: 100%;
  position: absolute;
  background-color: #ffffff;
  z-index: -1;
  margin-top: 36%;
}
.wall-socket {
  width: 7%;
  z-index: -1;
  margin-top: 30%;
  margin-left: 88%;
  position: absolute;
  max-width: 7%;
  height: auto;
}

.tv {
  z-index: -1;
  position: absolute;
  margin-left: 34%;
  margin-top: 8.25%;
  max-width: 100%;
  height: auto;
}
.dresser {
  z-index: -1;
  position: absolute;
  margin-left: 35.5%;
  margin-top: 18%;
  max-width: 100%;
  height: auto;
}
.rug {
  z-index: -1;
  position: absolute;
  margin-left: 50%;
  margin-top: 30%;
  max-width: 100%;
  height: auto;
}
.bookshelf {
  z-index: -1;
  position: absolute;
  margin-left: 0%;
  margin-top: 7%;
  width: 50%;
}
.lowfi-beats-to-beat-your-head-with {
  width: 200px;
  position: absolute;
  height: 250px;
  margin-left: 75%;
  margin-top: 9%;
  border: #ffffff;
  z-index: 1;
}
.window {
  margin-left: 65%;
  position: absolute;
  z-index: 1;
  width: 35%;
}
.gamepad {
  position: absolute;
  z-index: 0;
}
